<section class="py-5">
    <div class="row">
        <div class="col-md-8">
            Some content
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col">
                    
                </div>
            </div>
        </div>
    </div>
</section>