
$icon-font-path: "~root_module/content/fonts/";
@import "~root_module/css/open-iconic-bootstrap.scss";

.success-mark {
    color: rgb(88, 221, 144);
}

.registration--form label {
    color: blueviolet;
}