<div class="Presentor-picture">
    <div class="Presentor-container">
        <div class="Presentor-container-title">
            <span class="Presentor-title">
                <h1>We help you realize your dreams</h1>
            </span>
        </div>
        <div class="Presentor-features">
            <ul>
                <li>
                    Build you own product
                </li>
                <li>
                    Quick getting the new clients
                </li>
                <li>
                    The simplest way of usage
                </li>
            </ul>
        </div>
        <div class="Presentor-registration">
            <a class="btn btn-outline-light btn-lg" routerLink="/registration"> Registration </a>
        </div>
    </div>
</div>